<div class="container">
    <div class="ui card">
        <h1>Random Team Generator</h1>
        <ul class="list">
            <li *ngFor="let addmember of members">{{ addmember }}</li>
        </ul>
        <div class="add-members-container">
            <input #addMemberInput type="text" placeholder="Input a name" (input)="onInput(addMemberInput.value)" [value]="newMemberName">
            <button (click)="onClick()">Add</button>
        </div>
        <div class="input-container">
            <input #teamNumberInput type="number" placeholder="How many team?" (input)="onTeamNumberInput(teamNumberInput.value)" [value]="numberOfTeams">
            <button (click)="onGenerate()">Generate</button>
        </div>
        <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>
    </div>
    <div *ngIf="teams.length" class="team-container">
        <app-team *ngFor="let team of teams; let i = index"></app-team>
    </div>
</div>